<h1>メッセージ詳細</h1>

<ul>
    <li>ID:<%= @message.id%></li>
    <li>Title:<%= @message.title%></li>
    <li>Content:<%= @message.content%></li>
    <li>Created at:<%= @message.created_at%></li>
</ul>

<%= link_to '一覧に戻る', messages_path %></br>
<%= link_to '修正する', edit_message_path(@message) %></br>
<%= link_to '削除する', message_path(@message), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }  %></br>